body {
    background-color: #121212; /* fundo escuro */
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 500px;
}
.form-control, .form-control:focus {
    background-color: #2c2c2c;
    border: none;
    color: white;
}
.btn-primary {
    background-color: #ff0043;
    border: none;
}
.btn-primary:hover {
    background-color: #e6003a;
}